{% extends 'base.html' %}

<h1>Home</h1>
{% block head %}
<title>OsakiTenka</title>
{% endblock %}

{% block body %}
<div class="container">
	<a href= "{% url 'search_user' %}">
		<h1>Click Here To Search For User</h1>
	</a>
	<h2>Friends</h2>
		{% for friend in friends %}
			<a href="{% url 'view_profile_with_pk' pk=friend.pk %}">
				<h3>{{ friend.username }}</h3>
			</a>
			<button type="button" class="btn btn-Success">Discount</button>
			<button type="button" class="btn btn-Primary">Message</button>
			<a href="{% url 'change_friend' operation='remove' pk=friend.pk %}">
				<button type="button" class="btn btn-danger">Remove</button>
			</a>
		{% endfor %}
</div>
{% endblock %}