{% extends 'base.html' %}

<h1>Home</h1>
{% block head %}
<title>OsakiTenka</title>
{% endblock %}

{% block body %}
<div class="container">
	<div class="col-md-8">
		<h1>Home</h1>
			{% if user.is_authenticated %}
			<form method="post">
			{% csrf_token%}
			{{ form.post }}
			<br>
			<button type="submit">Submit</button>
			</form>
			{% endif %}
			{% for post in posts %}
				<h1>{{ post.post }}</h1>
				<p>Posted by {{ post.user.username }} on {{ post.created_date }}</p>
			{% endfor %}
	</div>
</div>
{% endblock %}