{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class='container'>
	<br>
	<h1>Profile</h1>
	<p>Username: {{ user }}</p>
	<p>First Name: {{ user.first_name }}</p>
	<p>Last Name: {{ user.last_name }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Address: {{ user.UserProfile.address }}</p>
	<p>Credit Card Number: {{ user.UserProfile.credit_card_number }}</p>
	<p>Phone Number: {{ user.UserProfile.phone_number }}</p>
	{% if user.UserProfile.image %}
		<img src="{{ user.UserProfile.image.url}}" width="480">
	{% endif %}
</div>
{% endblock %}